# Kidney Exchange #
*.csv
*.input

# Java and Eclipse #
*.jar
*.war
*.ear
*.class
/bin

# System #
*~
*.lock
*.~lock*
*.DS_Store
*.swp
*.out

# Exceptions #
!lib/*
lib/cplex.jar  # do not include CPLEX (licensing? who knows)
